/**********************************************
*** GENERAL
**********************************************/

.final-score {
    color: #555;
    font-size: 18px;
    font-family: 'Lato';
    text-align: center;
    padding: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    margin-top: 12px;
}
.btn-continue {
  width: 50px;
  color: #555;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  float: right;
  margin-left: 140px;
}
.final-score:focus { outline: none; }

#dice-1 { top: 120px; }
#dice-2 { top: 250px; }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(rollthedice2.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;

}

.player-current-box {
    background-color: #d80027;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0006;
}

.modal {
  width: 380px;
  height: 420px;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 210px);
  left: calc(50% - 190px);
  border-radius: 4px;
  box-shadow: 0 0 8px 2px #666;
  animation-duration: 1.2s;
  animation-name: slidein;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
  }

  to {
   transform: none;
  }
}

.title {
  text-align: center;
  margin-top: 15px;
  font-family: Gill Sans Extrabold, Helvetica, sans-serif;
  font-size: 30px;
  color: #d80027;
}

.rules {
  text-align: justify;
  margin-top: 10px;
  font-family: Gill Sans Extrabold, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 18px;
}
p {
  margin-bottom:10px;
}

.goodluck {
  text-align: center;
}

.modal-wrapper.modal-hidden {
  display:none;
}
